<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-6">
                <div class="text-center">
                    <h1 class="display-3">Edit Post</h1>
                </div>
                <hr />

                <form action="/admin/confirm?id={{{id}}}" method="post">

                    <div class="form-group row">
                        <label class="col-form-label" for="title">Title</label>
                        <input disabled required type="text" name="Title" class="form-control" id="title" value="{{{title}}}" />
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label" for="content">Content</label>
                        <textarea disabled required class="form-control" name="Content" id="content" rows="20">{{{content}}}</textarea>
                    </div>

                    <input type="submit" class="btn btn-danger btn-lg btn-block" value="Delete" />
                </form>
                <br />
            </div>
        </div>
    </div>
</main>