<main>
    <div class="container">
        <div class="row">
            <div class="col col-md-10 mr-auto ml-auto">
                <div class="text-center">
                    <h1 class="display-3">Log</h1>
                </div>

                <br />
                <hr />
                <br />

                <div class="row">
                    <div class="col mr-auto ml-auto text-center">
                        {{{logs}}}
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</main>